* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Permanent Marker", cursive;
  background: #333;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 5%;
}

.liveSession {
  font-size: 8em;
  margin-top: 40%;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
}

.addSession,
.minSession,
.addBreak,
.minBreak,
.sessionTimer,
.breakTimer {
  display: inline;
  border: none;
  border-radius: 50%;
  padding: 6px 8px;
}

.session,
.break {
  display: inline;
  margin-left: 50px;
}

.resetButton {
  display: flex;
  margin-left: 42%;
  border: none;
  background: #320;
  color: #fff;
  padding: 10px 12px;
}
